#messagesRecieved {
    width: 600px;
    height: 100px;
}

.register {
    background-color: gainsboro;
    background-size: auto;
    width: 1009px;
}

.fondo{
    background-color: gainsboro;
    
}